body {
    font-family: 'sono', sans-serif;
}

.pricing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    gap: 2rem;
}

.pricing-plan {
    flex: 1;
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    text-align: center;
}

.plan-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-top: 15%;
    padding-bottom: 5%;
    background-image: linear-gradient(to top right, rgb(54, 72, 231), rgb(247, 247, 236));
}

.pricing-price {
font-size: 48px;
font-weight: bold;
margin-bottom: 10px;
}

.plan-features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan-features li {
    margin-bottom: 20px;
}

.plan-button {
    background-image: linear-gradient(to top right, red, yellow);
    color: #fff;
    border-radius: 8px;
    border: none;
    width: 30%;
    padding: 3%;
}

@media (max-width: 1250px) {
    .pricing-container {
        flex-direction: column;
        height: 100%;
    }
}